@import url('./variables.less');

.blog {
  position: relative;
  width: 100%;
  .clearfix();
  margin: 0 auto;
  background-color: @bg-primary;
  min-height: 100vh;
  padding-top: 70px;
}

.blog-posts {
  width: 100%;
  position: relative;
  .clearfix();
  margin: 0 auto;
  max-width: 1200px;
}

.content {
  display: block;
  position: relative;
  width: 100%;
  .clearfix();
  margin: 0 auto;
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;

  @media(@tablet) {
    padding-top: 30px;
  }
}

.posts {
  max-width: 700px;
  margin: 0 auto;

  @media(@tablet) {
    float: left;
    width: 55%;
    margin-left: 5%;
  }
}

.filters {
  border: 1px solid fade(@tx-grey, 30);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
  background-color: @bg-light;
  padding-top: 10px;
  padding-bottom: 10px;

  @media(@tablet) {
    display: block;
    position: relative;
    text-align: left;
    padding: 15px;
    float: right;
    width: 25%;
    margin-right: 12%;
  }
}

.filter {
  display: inline-block;
  margin-right: 10px;

  @media(@tablet) {
    display: block;
    margin-bottom: 20px;
    margin-right: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  ul {
    display: inline-block;
  }

  .item {
    display: inline-block;
    font-size: 14px;
    .hyperlink();
    margin-right: 10px;

    @media(@tablet) {
      margin-bottom: 5px;
      display: block;
      text-align: left;
    }

    &.header {
      display: inline-block;
      color: @tx-secondary;
      font-size: 11px;

      @media(@tablet) {
        display: block;
        color: @tx-dark;
        margin-bottom: 10px;
        font-size: 24px;
      }
    }
  }

}