@import url('./variables.less');

.ul {
  .flex();
  margin: 0 auto;
  text-align: center;
  max-width: 900px;
  font-family: @font-montserrat;
  padding-bottom: 30px;
  margin-top: -70px;
}

.li {
  width: 50%;
  height: 40px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: -0.8px;
  text-shadow: 1px 3px 3px rgba(0,0,0,.50);
  font-size: 14px;

  &:nth-child(odd) {
    text-align: left;
  }

  &:nth-child(even) {
    text-align: right;
  }

  a {
    .transition(0.3s);
    color: @tx-primary;

    &:hover {
      color: fade(@tx-primary, 80);
    }
  }
}