@import url('./variables.less');

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  background-color: @bg-dark;
  color: @tx-primary;
  text-align: center;
  width: 100%;
  border-top: 1px solid fade(@tx-primary, 30);
  font-size: 12px;
}