.home {

}

.home__logo {
  position: relative;
  margin: 0 auto;
  width: 200px;
  padding-top: 40px;
  padding-bottom: 20px;

  @media(@tablet) {
    width: 300px;
  }
}

.home__details {
  margin: 0 auto;
  text-align: center;
  width: 300px;
  padding-top: 20px;

  @media(@tablet) {
    width: 400px;
  }
}

.home__logo-image {
  .img-scale();
}

.home__logo-title {
  position: absolute;
  z-index: 10;
  top: 75%;
  left: 5%;
  font-size: 50px;
  color: @tx-dark;
}

.home__details-description {
   padding-bottom: 20px;
   font-size: 22px;
}

