@import url('./variables.less');

.hero {
  position: relative;
  margin: 0 auto;
  width: 200px;
  padding-top: 40px;
  padding-bottom: 20px;

  @media(@tablet) {
    width: 300px;
  }
}

.headline {
  margin: 0 auto;
  text-align: center;
  width: 300px;
  padding-top: 20px;

  @media(@tablet) {
    width: 400px;
  }
}

.btn {
  .button__red();
}

.image {
  .img-scale();
}

.title {
  position: absolute;
  z-index: 10;
  top: 75%;
  left: 5%;
  font-size: 50px;
  color: @tx-dark;
}

.text {
  padding-bottom: 20px;
  font-size: 22px;
}