@import url('./variables.less');

.post {
  padding: 15px;
  background-color: fade(@bg-dark, 30);
  border: 1px solid fade(@tx-grey, 30);
  color: @tx-light;
  margin-bottom: 20px;
}

.image {
  margin: 0 auto;
  text-align: center;
  display: block;
  .img-scale();
}

.body {
  text-align: justify;
  font-size: 19px;
  line-height: 27px;
}

.category {
  display: inline-block;
  margin-right: 5px;
}

.title {
  margin-bottom: 10px;
  font-size: 24px;
  .clearfix();
  .hyperlink();
  a {
    color: @tx-light;
    &:hover {
      color: @tx-light;
    }
  }
}

.footer {
  font-size: 12px;

  .author,
  .date,
  .categories {
    padding-bottom: 3px;
    .hyperlink();
  }
}

.date {
  color: @tx-grey;
}

.detail {
  max-width: 700px;
  margin: 0 auto;

  .header {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .back {
    .hyperlink();
  }
}