.footer {
  composes: bg-dark from '../../containers/App/styles.css';
  composes: tx-primary from '../../containers/App/styles.css';
  position: relative;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  border-top: 1px solid #D2C7B4;
  font-size: 12px;
}
