.header {
  composes: font-sans from '../../containers/App/styles.css';
  position: relative;
  width: 100%;
  margin-bottom: 35px;
}

.ul {
  text-align: center;
}

.li {
  text-transform: uppercase;
  font-size: 42px;
  color: #B9B19F;
  cursor: pointer;
}
