.contact {

  .form-container {
    width: 100%;
    overflow: hidden;
    max-width: @xs;
    margin-left: auto;
    margin-right: auto;
  }

  .input-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  label span {
    font-size: 12px;
  }

  input,
  select,
  option,
  textarea {
    display: block;
    font-size: 21px;
    width: 98%;
    border: none;
    background-color: transparent;
    outline: none;
  }

  select,
  .contact-select option {
    color: @standard-dark;
    font-size: 18px;
    height: 30px;
  }
  .contact-input {
    height: 30px;
    border-bottom: 1px solid @grey;
  }

  .contact-textarea {
    border-bottom: 1px solid @grey;
  }

}