:root {
  --pinetree: #171914;
  --akaroa: #b9b19f;
  --darkgray: #a8a8a8;
  --raleway: 'Raleway', sans-serif;
}

body {
  background-color: var(--pinetree);
  margin: 0;
  font-family: var(--raleway);
}
