.enquiry {
  composes: bg-dark from '../App/styles.css';
  min-height: 100vh;
  padding-top: 70px;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 24px;
  text-align: center;
}

.form {
  composes: tx-primary from '../App/styles.css';
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.enquiry label {
  margin-bottom: 20px;
}

.input,
.textarea {
  display: block;
  font-size: 21px;
  width: 98%;
  border: none;
  background-color: transparent;
  outline: none;
  composes: border-bottom from '../App/styles.css';
}

.btn {
  composes: button__red from '../App/styles.css';
}

.error {
  composes: font-serif from '../App/styles.css';
  composes: tx-accent from '../App/styles.css';
  height: 20px;
  text-align: left;
}

.field {
  margin-bottom: 20px;
}

.submit {
  position: absolute;
  bottom: 0;
}

.success {
  composes: tx-primary from '../App/styles.css';
  position: absolute;
  margin: 0 auto;
  font-size: 25px;
  top: 15%;
  right: 0;
  left: 0;
  text-align: center;
}
