.blog {
  width: 100%;
  position: relative;
  .clearfix();
  margin: 0 auto;
}

.blog-content {
  width: 100%;
  position: relative;
  .clearfix();
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 30px;
}

.blog-content__header {
  text-align: right;
  margin-right: 10%;
}

.posts {
  float: left;
  width: 60%;
  margin-left: 5%;
}

.post-item {
  background-color: @bg-light;
}

.categories {
  float: right;
  width: 25%;
  margin-right: 5%;
  background-color: @bg-light;
}

.category-item {
  display: block;
  text-align: left;
}